## Kernel: Python 3.8

In [ ]:
from dotenv import dotenv_values
from datetime import timedelta, datetime

import pandas as pd
import requests
import locale

## Get Authority

In [ ]:
config = dotenv_values(".env") # get values from .env file
locale.setlocale(locale.LC_ALL, "id") # set local language

def login() -> str:
    try:
        url = 'https://api.kampusmerdeka.kemdikbud.go.id/user/auth/login/mbkm'
        headers = {
            'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36'
        }
        account = {
            'email': config.get('EMAIL'),
            'password': config.get('PASSWORD')
        }
        response = requests.post(url, json=account, headers=headers)
        token = response.json()['data'].get('access_token')
    
    except Exception:
        raise ValueError(response.json()["error"]["message"])
    
    return token, account

(token, account) = login()
headers = dict()
headers["Accept"] = 'application/json'
headers["Authorization"] = f'Bearer {token}'
headers["User-Agent"] = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36'

print(f'login to {account["email"]} success')

## 1. Fetch ALL Mitra (Raw & Test)

In [ ]:
url = f'https://api.kampusmerdeka.kemdikbud.go.id/magang/browse/position?offset=0&limit=10000&location_key=&mitra_key=&keyword=&sector_id='
response = requests.get(url, headers=headers)
reports = response.json().get('data')

print(reports)

## 2. Process Data FULL

In [13]:
url = f'https://api.kampusmerdeka.kemdikbud.go.id/magang/browse/position?offset=0&limit=10000&location_key=&mitra_key=&keyword=&sector_id='
response = requests.get(url, headers=headers)
mitra_data = response.json().get('data')

#===== List Initialization
id_position_cols = []
position_name_cols = []
mitra_name_cols = []
activity_name_cols = []
position_quota_cols = []
location_cols = []
activity_type_cols = []
logo_mitra_cols = []

# TODO: EXTRA FIELDS
start_duration_cols = []
end_duration_cols = []
start_registration_cols = []
end_registration_cols = []
credits_count_cols = []
location_code_cols = []
mitra_id_cols = []
certified_cols = []

Nomor_Mitra_cols = []
Nomor_Mitra = 1

for mitra_data_detail in mitra_data:
    #===== fetch data from mitra_data_detail dict in mitra_data list
    id_position = mitra_data_detail["id"]
    position_name = mitra_data_detail["name"]
    mitra_name = mitra_data_detail["mitra_name"]
    activity_name = mitra_data_detail["activity_name"]
    position_quota = mitra_data_detail["total"]
    location = mitra_data_detail["location"]
    activity_type = mitra_data_detail["activity_type"]
    logo_mitra = mitra_data_detail["logo"]

    # TODO: EXTRA FIELDS
    start_duration = mitra_data_detail["start_duration"]
    end_duration = mitra_data_detail["end_duration"]
    start_registration = mitra_data_detail["start_registration"]
    end_registration = mitra_data_detail["end_registration"]
    credits_count = mitra_data_detail["credits_count"]
    location_code = mitra_data_detail["location_kotakab_code"]
    mitra_id = mitra_data_detail["mitra_id"]
    certified = mitra_data_detail["certified"]

    

    #===== Append Data
    Nomor_Mitra_cols.append(Nomor_Mitra)
    id_position_cols.append(id_position)
    position_name_cols.append(position_name)
    mitra_name_cols.append(mitra_name)
    activity_name_cols.append(activity_name)
    position_quota_cols.append(position_quota)
    location_cols.append(location)
    activity_type_cols.append(activity_type)
    logo_mitra_cols.append(logo_mitra)

    # TODO: EXTRA FIELDS
    start_duration_cols.append(start_duration)
    end_duration_cols.append(end_duration)
    start_registration_cols.append(start_registration)
    end_registration_cols.append(end_registration)
    credits_count_cols.append(credits_count)
    location_code_cols.append(location_code)
    mitra_id_cols.append(mitra_id)
    certified_cols.append(certified)

    Nomor_Mitra += 1

#===== Convert Data to DataFrame
mitra_data_df_full = pd.DataFrame({
    "Nomor_Mitra": Nomor_Mitra_cols,
    "ID Posisi": id_position_cols,
    "Nama Posisi": position_name_cols,
    "Nama Mitra": mitra_name_cols,
    "Nama Kegiatan": activity_name_cols,
    "Quota Posisi": position_quota_cols,
    "Lokasi Bekerja": location_cols,
    "Tipe Aktivitas": activity_type_cols,
    "URL Logo": logo_mitra_cols,

    # TODO: EXTRA FIELDS
    "Mulai Periode": start_duration_cols,
    "Berakhir Periode": end_duration_cols,
    "Mulai Pendaftaran": start_registration_cols,
    "Berakhir Pendaftaran": end_registration_cols,
    "SKS Diberikan": credits_count_cols,
    "Kode Lokasi": location_code_cols,
    "ID Mitra": mitra_id_cols,
    "Kegiatan Bersertifikat": certified_cols
})

## 2. Process Data COMPACT

In [ ]:
url = f'https://api.kampusmerdeka.kemdikbud.go.id/magang/browse/position?offset=0&limit=10000&location_key=&mitra_key=&keyword=&sector_id='
response = requests.get(url, headers=headers)
mitra_data = response.json().get('data')

Nomor_Mitra_cols = []
id_position_cols = []
position_name_cols = []
mitra_name_cols = []
activity_name_cols = []
position_quota_cols = []
location_cols = []
activity_type_cols = []
logo_mitra_cols = []

for mitra_data_detail in mitra_data:
    # fetch data from mitra_data_detail dict in mitra_data list
    id_position = mitra_data_detail["id"]
    position_name = mitra_data_detail["name"]
    mitra_name = mitra_data_detail["mitra_name"]
    activity_name = mitra_data_detail["activity_name"]
    position_quota = mitra_data_detail["total"]
    location = mitra_data_detail["location"]
    activity_type = mitra_data_detail["activity_type"]
    logo_mitra = mitra_data_detail["logo"]

    # Append Data
    id_position_cols.append(id_position)
    position_name_cols.append(position_name)
    mitra_name_cols.append(mitra_name)
    activity_name_cols.append(activity_name)
    position_quota_cols.append(position_quota)
    location_cols.append(location)
    activity_type_cols.append(activity_type)
    logo_mitra_cols.append(logo_mitra)

    Nomor_Mitra


mitra_data_df_compact = pd.DataFrame({
    "Nomor Mitra": Nomor_Mitra,
    "ID Posisi": id_position_cols,
    "Nama Posisi": position_name_cols,
    "Nama Mitra": mitra_name_cols,
    "Nama Kegiatan": activity_name_cols,
    "Quota Posisi": position_quota_cols,
    "Lokasi Bekerja": location_cols,
    "Tipe Aktivitas": activity_type_cols,
    "URL Logo": logo_mitra_cols,
})

In [14]:
mitra_data_df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 975 entries, 0 to 974
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Nomor_Mitra             975 non-null    int64
 1   ID Posisi               975 non-null    object
 2   Nama Posisi             975 non-null    object
 3   Nama Mitra              975 non-null    object
 4   Nama Kegiatan           975 non-null    object
 5   Quota Posisi            975 non-null    int64
 6   Lokasi Bekerja          975 non-null    object
 7   Tipe Aktivitas          975 non-null    object
 8   URL Logo                975 non-null    object
 9   Mulai Periode           975 non-null    object
 10  Berakhir Periode        975 non-null    object
 11  Mulai Pendaftaran       975 non-null    object
 12  Berakhir Pendaftaran    975 non-null    object
 13  SKS Diberikan           975 non-null    int64
 14  Kode Lokasi             975 non-null    object
 15  ID Mitra                975 non-null    object
 16  Kegiatan Bersertifikat  975 non-null    bool
dtypes: bool(1), int64(3), object(13)
memory usage: 123.0+ KB

In [ ]:
mitra_data_df_compact.info()

In [15]:
mitra_data_df_full

,Nomor_Mitra,ID Posisi,Nama Posisi,Nama Mitra,Nama Kegiatan,Quota Posisi,Lokasi Bekerja,Tipe Aktivitas,URL Logo,Mulai Periode,Berakhir Periode,Mulai Pendaftaran,Berakhir Pendaftaran,SKS Diberikan,Kode Lokasi,ID Mitra,Kegiatan Bersertifikat
0,1,6a7bbbab-7508-11ed-b2a2-1a198d2f4c14,2D/3D Animator Intern,BNI,BNI Digital Talent Thematic Internship,13,Kota Jakarta Barat,OFFLINE,https://storage.googleapis.com/kampusmerdeka_k...,2023-02-16T07:00:00+07:00,2023-06-30T07:00:00+07:00,2022-12-29T07:00:00+07:00,2023-01-20T07:00:00+07:00,20,016200,1434cd57-6295-441a-898a-7294119a96d7,True
1,2,fef8450f-7092-11ed-8ea0-7e8ddab09462,3D Artist / Designer / Animator,Soca AI,Development of a metaverse-based learning plat...,10,Kota Bandung,OFFLINE,https://storage.googleapis.com/kampusmerdeka_k...,2023-02-13T07:00:00+07:00,2023-06-30T07:00:00+07:00,2022-12-05T07:00:00+07:00,2023-01-31T07:00:00+07:00,20,026000,f6940620-cc8b-4134-8290-7f511d8cc1a6,True
2,3,7659b95a-6429-11ed-b5cc-0a223dcf0f66,Academic Officers Intern,Zenius,Zenius Professionals Practice Program Angkatan 4,6,Kota Jakarta Selatan,BLENDED,https://storage.googleapis.com/kampusmerdeka_k...,2023-02-13T07:00:00+07:00,2023-06-30T07:00:00+07:00,2022-12-22T07:00:00+07:00,2023-01-27T07:00:00+07:00,20,016300,261f4d66-aa98-41a5-a213-a079764411a7,True
3,4,f5c3d0db-719b-11ed-a27c-eee683b66c25,Account Executive,Suitmedia,Suitmedia National Internship Program 2023,6,Kota Jakarta Selatan,BLENDED,https://storage.googleapis.com/kampusmerdeka_k...,2023-02-01T07:00:00+07:00,2023-06-30T07:00:00+07:00,2023-01-08T07:00:00+07:00,2023-01-31T07:00:00+07:00,20,016300,8bbe4d2b-fcb8-4bc3-a414-4393f5cb0d1b,True
4,5,7ec1fe92-70b6-11ed-9540-86f9589d528b,Accounting,ELZATTA DAUKY,Peran Gen Z untuk Indonesia,1,"Kec. Bandung Kulon, Kota Bandung, Jawa Barat",OFFLINE,https://storage.googleapis.com/kampusmerdeka_k...,2023-02-10T07:00:00+07:00,2023-06-10T07:00:00+07:00,2022-12-01T07:00:00+07:00,2022-12-31T07:00:00+07:00,20,,5fb33177-7656-4eac-b184-9a187592a4e4,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,971,5d9bb819-7f8d-11ed-bcbb-96627b1c4bb1,Young Banker Program Batch 2,PT Bank Mandiri (Persero) Tbk,Young Banker Program Batch 2,20,Kota Jakarta Pusat,OFFLINE,https://storage.googleapis.com/kampusmerdeka_k...,2023-02-20T07:00:00+07:00,2023-06-30T07:00:00+07:00,2022-12-21T07:00:00+07:00,2023-01-31T07:00:00+07:00,20,016000,875a41ac-8ad4-4a1f-9d91-e6afb053ecba,True
971,972,947ba8dc-5502-11ed-b209-b250481d78c3,Youth Segment Intern,XL Axiata,DYNAMIC SUSTAINABILITY PROGRAMS (OFFLINE INTER...,4,Kota Jakarta Selatan,OFFLINE,https://storage.googleapis.com/kampusmerdeka_k...,2023-02-10T07:00:00+07:00,2023-06-30T07:00:00+07:00,2022-12-20T07:00:00+07:00,2023-01-31T07:00:00+07:00,20,016300,c6eaa287-d3a3-4dc4-92b0-c3cabfe9a698,True
972,973,67b505b2-6b0c-11ed-8225-d61b0e2692e7,Testing Specialist - Custody & FA System,Bank CIMB Niaga,Custody & Fund Admin System,3,Kota Jakarta Selatan,OFFLINE,https://storage.googleapis.com/kampusmerdeka_k...,2023-02-10T07:00:00+07:00,2023-07-10T07:00:00+07:00,2022-12-20T07:00:00+07:00,2023-01-20T07:00:00+07:00,20,016300,7ee6d215-9ad2-4565-81c1-555e8efb1360,True
973,974,f52a4546-6b0c-11ed-a22e-c63f61abb566,Treasury Digital Interactive Communication Pr...,Bank CIMB Niaga,Treasury Digital Interactive Communication,3,Kota Jakarta Selatan,OFFLINE,https://storage.googleapis.com/kampusmerdeka_k...,2023-02-10T07:00:00+07:00,2023-07-10T07:00:00+07:00,2022-12-20T07:00:00+07:00,2023-01-20T07:00:00+07:00,20,016300,7ee6d215-9ad2-4565-81c1-555e8efb1360,True
974,975,78574d97-6b09-11ed-a22e-c63f61abb566,Value and Culture Intern,Bank CIMB Niaga,Value and Culture Intern,3,jakarta,OFFLINE,https://storage.googleapis.com/kampusmerdeka_k...,2023-02-10T07:00:00+07:00,2023-07-10T07:00:00+07:00,2022-12-20T07:00:00+07:00,2023-01-20T07:00:00+07:00,20,,7ee6d215-9ad2-4565-81c1-555e8efb1360,True

## 3. Output Files [CSV and EXCEL]

In [17]:
def output_files(df: pd.DataFrame):
    output_types = ["CSV", "Excel"]
    
    print("=== Output File Types ===")
    
    for i in range(len(output_types)):
        format_name = output_types[i]
        print(f'{i+1}. {format_name}')
    
    choose_number = int(input("Pilih format file untuk mengekspor dataframe: ")) - 1

    now = datetime.now()
    # dd-mm-YY H.M
    dt_string = now.strftime("%d-%m-%Y %H.%M")

    if choose_number == 0:
        filename = './' + dt_string + ' - data mitra mbkm.csv'
        df.to_csv(filename, index=False)
    elif choose_number == 1:
        filename = './' + dt_string + ' - data mitra mbkm.xlsx'
        df.to_excel(filename, index=False)
    else:
        raise ValueError("Not a valid input")

    print(f"Creating {output_types[choose_number]} with a file name suffix `- data mitra mbkm`")

output_files(mitra_data_df_full)

=== Output File Types ===
1. CSV
2. Excel
Creating Excel with a file name suffix `- data mitra mbkm`

## 4. Output Files [JSON]

In [12]:
import json

def output_files_json(df: pd.DataFrame):
    now = datetime.now()
    # dd-mm-YY H.M
    dt_string = now.strftime("%d-%m-%Y %H.%M")
    filename = './' + dt_string + ' - data mitra mbkm.json'
    df.to_json(filename, orient="records")

output_files_json(mitra_data_df_full)

## Extra: 1. Time Config

In [ ]:
from datetime import datetime

# datetime object containing current date and time
now = datetime.now()

print("now =", now)

# dd-mm-YY H.M
dt_string = now.strftime("%d-%m-%Y %H.%M")
filename ='./' + dt_string + ' - data mitra mbkm.csv'
print("date and time =", filename)